<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button data-target="#header-menu" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" class="navbar-brand value-brand">Single Page Outlines</a>
      </div>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="nav navbar-nav">
          
            <li><a href="{% url 'books' %}">Books</a></li>
            <li><a href="{% url 'people' %}">People</a></li>
          {% comment %}
            <li><a href="{% url 'about' %}">About</a></li>
          {% endcomment %}

        </ul>
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% comment %}
                <a href="{% url 'reviews' user.username %}">
                  <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="My profile">{{ user.profile.get_screen_name }}</span>
                </a>
              {% endcomment %}
            </li>
            <li>
              <span class="navbar-text username-divider"></span>
            </li>
            {% comment %}
            <li>
              <a href="{% url 'library:index' %}">
                Library
              </a>
            </li>
            {% endcomment %}
            <li>
              {% comment %}
                <a href="{% url 'settings:settings' %}">
                  <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Account settings">
                    <span class="glyphicon glyphicon-cog"></span>
                  </span>
                </a>
              {% endcomment %}
            </li>
            <li>
          {% comment %}
              <a href="{% url 'signout' %}">
                <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Sign out">
                  <span class="glyphicon glyphicon-log-out"></span>
                </span>
              </a>
          {% endcomment %}
            </li>
          </ul>
        {% else %}

        {% comment %}
          <a href="{% url 'signin' %}" title="Sign in" class="btn btn-default navbar-btn navbar-right">Sign in</a>
          <a href="{% url 'signup' %}" title="Sign up" class="btn btn-primary navbar-btn navbar-right" style="margin-right: 5px;">Sign up</a>
        {% endcomment %}

        {% endif %}
      </div>
    </div>
  </nav>
</header>