{% extends 'base.html' %}

{% load humanize %}
{% load static %}


{% block content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel-heading">
        {% for review in people_reviews %}
            <div class="book-or-person-container">
                <h3 class="accordion">
                    <img class="person-img" src="{{ review.person.person_image.url }}" alt="My image">
                </h3>
                <div class="accordion-panel">
                    <div class="row">
                        {% for author in review.book.authors.all %}
                            {{ author.show_website_link|safe }}
                        {% endfor %}
                        {{ review.book.show_purchase_link|safe }} 
                    </div>
                    <div>
                        {{ review.show_markdown|safe }}
                    </div>
	    </div>
        {% endfor %} 
    </div>
</div>

<div class='content'>
	<!-- /the chart goes here -->
</div>

{% endblock content %}



{% block javascript %}
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
		    /* Toggle between adding and removing the "active" class,
		    to highlight the button that controls the panel */
		    this.classList.toggle("active");

		    /* Toggle between hiding and showing the active panel */
		    var panel = this.nextElementSibling;
		    if (panel.style.display === "block") {
		      panel.style.display = "none";
		    } else {
		      panel.style.display = "block";
		    }
		  });
		} 
	</script>

	<script>
		window.onload = function() {

			$(document).ready(function(){
	        	//alert("Yesss!");
	        });
		    if (window.jQuery) {  
		        // jQuery is loaded  
		        //alert($ === jQuery);
		    } else {
		        // jQuery is not loaded
		        alert("Doesn't Work");
		    }
		}
	</script>



{% endblock javascript %}